/* General Sizing Properties for the pseudofragment containing the Mode Wheel */
#modewheel-container {
    width: auto;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    max-height: 80vw;
    max-width: 10cm;
    margin-left:auto;
    margin-right:auto;
}

/* Styling for the outer part of the wheel, where it displays the name of the mode being used */
.textpath-mode-text {
    font-size: 0.31em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    stroke-width: 0;
    fill: black;
    text-anchor: middle;
    text-align: center;
    user-select:none;
}

.textpath-invis {
    stroke: none;
    fill: none;
}


/* Styling for the part of the mode wheel where it says WWHWWWH */
.intervaltext {
    font-size: 0.25em;
    text-anchor: middle;
    dominant-baseline: mathematical;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    stroke-width: 0;
    fill: white;
    user-select:none;
}


/* Styling for the part where it displays the 7th chords */
.chordtext {
    font-size: 0.24em;
    text-anchor: middle;
    dominant-baseline: mathematical;
    text-align: center;
    font-family: monospace;
    stroke-width: 0;
    fill: black;
    user-select: none;
}

/* Styling for the selected arcs. */
.selection-path {
    stroke: white;
    stroke-width: 2;
}



/* Modewheel Animation Components */

/* Alter opacity of strokes */
@keyframes fade-animation {
    0% 
    {
        stroke-opacity:1;
    }
    25% 
    {
        stroke-opacity: 1;
    }
    100% 
    {
        stroke-opacity:0;
    }
  
}